In [1]:
from sklearn import datasets, svm
iris = datasets.load_iris()

In [4]:
import pandas as pd 
df = pd.DataFrame(iris.data,columns=iris.feature_names)
df['flower_index'] = iris.target
df['flower'] = df['flower_index'].apply(lambda x: iris.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower_index,flower
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [7]:
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(svm.SVC(gamma="auto"),{
    "C":[1,10,20],
    "kernel" : ["linear","rbf"]
},cv=5,return_train_score=False)

In [8]:
clf.fit(iris.data,iris.target)
clf.cv_results_

{'mean_fit_time': array([0.0039979 , 0.00179982, 0.00199809, 0.00099974, 0.00100045,
        0.00100026]),
 'std_fit_time': array([4.00085490e-03, 7.47820387e-04, 6.32185061e-04, 5.30983387e-07,
        5.91739352e-07, 3.23406696e-07]),
 'mean_score_time': array([0.00180025, 0.00120091, 0.00140076, 0.00080028, 0.00039983,
        0.00079989]),
 'std_score_time': array([0.00040028, 0.00039959, 0.00102033, 0.00040014, 0.00048969,
        0.00039995]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['linear', 'rbf', 'linear', 'rbf', 'linear', 'rbf'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'linear'},
  {'C': 1, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'}],
 'split0_test_score': array([0.96666667, 0.96666667, 1.        , 0.96666667, 1.        ,
        0.96666667]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.9       , 0.96666667, 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.93333333,
        0.96666667]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.97333333, 0.98      , 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.03887301, 0.01632993, 0.0421637 ,
        0.03651484]),
 'rank_test_score': array([1, 1, 4, 1, 6, 5])}

In [11]:
result = pd.DataFrame(clf.cv_results_)
result

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003998,4.000855e-03,0.001800,0.00040,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.001800,7.478204e-04,0.001201,0.00040,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.001998,6.321851e-04,0.001401,0.00102,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
3,0.001000,5.309834e-07,0.000800,0.00040,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
4,0.001000,5.917394e-07,0.000400,0.00049,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,6
5,0.001000,3.234067e-07,0.000800,0.00040,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5

In [14]:
result[["param_C","param_kernel","mean_test_score"]]

  param_C param_kernel  mean_test_score
0       1       linear         0.980000
1       1          rbf         0.980000
2      10       linear         0.973333
3      10          rbf         0.980000
4      20       linear         0.966667
5      20          rbf         0.966667

In [15]:
clf.best_params_

{'C': 1, 'kernel': 'linear'}

In [16]:
from sklearn.model_selection import RandomizedSearchCV

In [17]:
rs = RandomizedSearchCV(svm.SVC(gamma="auto"),{
    "C":[1,10,20],
    "kernel":["rbf","linear"]
},cv=5,return_train_score=False,n_iter=2)
rs.fit(iris.data,iris.target)
rs.cv_results_

{'mean_fit_time': array([0.00480032, 0.00220041]),
 'std_fit_time': array([0.00263828, 0.00074813]),
 'mean_score_time': array([0.00200067, 0.00160003]),
 'std_score_time': array([0.00063294, 0.00048784]),
 'param_kernel': masked_array(data=['rbf', 'linear'],
              mask=[False, False],
        fill_value='?',
             dtype=object),
 'param_C': masked_array(data=[20, 10],
              mask=[False, False],
        fill_value='?',
             dtype=object),
 'params': [{'kernel': 'rbf', 'C': 20}, {'kernel': 'linear', 'C': 10}],
 'split0_test_score': array([0.96666667, 1.        ]),
 'split1_test_score': array([1., 1.]),
 'split2_test_score': array([0.9, 0.9]),
 'split3_test_score': array([0.96666667, 0.96666667]),
 'split4_test_score': array([1., 1.]),
 'mean_test_score': array([0.96666667, 0.97333333]),
 'std_test_score': array([0.03651484, 0.03887301]),
 'rank_test_score': array([2, 1])}

In [18]:
result2 = pd.DataFrame(rs.cv_results_)
result2

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_kernel,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.0048,0.002638,0.002001,0.000633,rbf,20,"{'kernel': 'rbf', 'C': 20}",0.966667,1.0,0.9,0.966667,1.0,0.966667,0.036515,2
1,0.0022,0.000748,0.001600,0.000488,linear,10,"{'kernel': 'linear', 'C': 10}",1.000000,1.0,0.9,0.966667,1.0,0.973333,0.038873,1

In [19]:
result2[["param_C","param_kernel","mean_test_score"]]

  param_C param_kernel  mean_test_score
0      20          rbf         0.966667
1      10       linear         0.973333